.container {
    width: 100%;
    height: 92vh;

    padding: 2vh 1%;
}

.title {
    width: 100%;
    height: 7%;

    /* background: red; */
    text-align: center;
    text-transform: uppercase;
}

.history__box {
    width: 100%;
    height: 93%;
    background: var(--box);
    border-radius: 15px;
    overflow: hidden;

    box-shadow: 0 0 7px 0 #333;
}

.history__box__header {
    width: 100%;
    height: 8%;
    background: var(--bloc);
    padding: 0 25px 0 10px;
    display: flex;
    align-items: center;
}

.header__text {
    flex: 1 1 0;
}

.history__box__inner {
    width: 100%;
    height: 92%;
    /* background: yellow; */
    overflow-y: scroll;
}

.inner__block {
    width: 100%;
    height: 10%;
    /* background: red; */

    display: flex;
    align-items: center;
    padding: 0 5px 0 10px;
}

.inner__text {
    flex: 1 1 0;
    font-weight: 700;
}







