.top__block {
    width: 100%;
    height: 55vh;
    /* background: red; */

    display: flex;
    justify-content: space-between;

    padding: 15px;
}

.avatar__box {
    width: 25%;
    height: 100%;
    /* background: green; */

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.client__avatar {
    width: 68%;
    margin: 0 auto;
    border-radius: 15px;
}


.client__info {
    width: 100%;
    display: flex;
}

.client__info__inner {
    flex: 1 1 0;
}


.information__box {
    width: 47.5%;
    height: 100%;

    border-radius: 15px;

    padding: 15px;
    background: var(--box);
    box-shadow: 0 0 8px 0 #777;
}

.client__title {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 2vh;
    border-bottom: 2px #111 solid;
    font-size: 1.5vw;
    font-weight: 700;
}

.client__info__text {
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 5px;
}

.client__info__text span {
    font-weight: 100;
}

.kuba_count {
    font-size: 1.5vw;
}

.status__inner {
    width: 100%;
    height: auto;
    /* background: green; */
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.status {
    width: 35px;
    height: 35px;

    border-radius: 50%;
    /* background: red; */
    display: block;
}

.status.aloqaga.chiqilmagan {
    background: red;
}

.status.kutilmoqda {
    background: yellow;
}

.status.aloqada {
    background: green;
}

.coments__box {
    width: 25%;
    height: 100%;

    border-radius: 15px;

    padding: 15px;
    background: var(--box);
    box-shadow: 0 0 8px 0 #777;
}

.coment__box__view {
    width: 100%;
    height: 86%;
    /* background: red; */
    overflow-y: scroll;
}

.view__inner {
    width: 100%;
    display: flex;
    border-bottom: 1px #111 solid;
    padding: 1vh 0;
}

.coment {
    width: 70%;
    border-right: 1px #111 solid;
    
}


.bottom__block {
    width: 100%;
    height: 37vh;
    /* background: red; */

    display: flex;
    justify-content: space-between;

    padding: 0 15px 15px;
}

.client__music {
    width: 25%;
    height: 100%;
    background: var(--box);

    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 8px 0 #777;
}

.coment__enter {
    width: 47.5%;
    height: 100%;

    background: var(--box);

    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 8px 0 #777;
}

.coment__form {
    width: 100%;
    height: 35%;
    margin-bottom: 1.5%;

}

.coment__enter__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    align-items: center;

}

.coment__btn {
    width: 25%;
    height: 50%;
    border-radius: 10px;

    background: var(--bloc);
    border: none;
    box-shadow: 1px 1px 5px 1px #242424;
    cursor: pointer;

    text-transform: uppercase;
    font-weight: 700;
}

.coment__text {
    width: 70%;
    height: 100%;
    resize: none;
    padding: 10px;

    border-radius: 10px;

}

.record__form {
    width: 100%;
    height: 20%;

}

.records__enter__box {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: red; */
}

.record {
    width: 50%;
    /* border-radius: 15px; */
    /* height: 5vh; */
}

.record__btn {
    
    width: 25%;
    height: 70%;
    border-radius: 10px;

    background: var(--bloc);
    border: none;
    box-shadow: 1px 1px 5px 1px #242424;
    cursor: pointer;

    text-transform: uppercase;
    font-weight: 700;
    
}

.client__update {
    width: 25%;
    height: 100%;
    background: var(--box);

    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 8px 0 #777;
}

.update__form {
    width: 100%;
    height: 100%;
    text-align: center;
}

.update__status {
    width: 100%;
    height: 5vh;
    border: 1px #111 solid;
    border-radius: 10px;

    padding: 0 10px;
    outline: none
}

.update__btn {
    width: 50%;
    height: 3.5vh;

    border-radius: 7px;
    background: var(--bloc);
    box-shadow: 1px 1px 5px 1px #242424;
    
    margin: 2vh auto;

    border: none;

    text-transform: uppercase;
}

.update__btn2 {
    padding: 3px 32px;

    border-radius: 7px;
    background: var(--bloc);
    box-shadow: 1px 1px 5px 1px #242424;
    
    margin: 2vh auto;

    font-size: 1vw;

    border: none;
    color: #111;
    text-transform: uppercase;
}


@media only screen and (max-width: 767px) {
    
    .top__block {
        width: 100%;
        height: auto;

        flex-direction: column;
    }

    .avatar__box {
        width: 100%;
        height: 100%;
        /* background: green; */
    
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .client__avatar {
        width: 68%;
        margin: 0 auto 2vh;
        border-radius: 15px;
    }

    .information__box {
        width: 100%;
        height: 100%;
    
        border-radius: 15px;
    
        margin-bottom: 2vh;
        padding: 15px;
        background: var(--box);
    }
    
    .client__title {
        width: 100%;
        font-size: 3.5vw;   
    }

    .client__info__text {
        font-size: 3vw;
    }

    .status {
        width: 25px;
        height: 25px;
    }

    .coments__box {
        width: 100%;
        height: 40vh;
        overflow-y: scroll;
    }

    .bottom__block {
        width: 100%;
        height: auto;

        flex-direction: column;
    }

    .client__music {
        width: 100%;
        height: 30vh;
        margin-bottom: 2vh;
        overflow-y: scroll;
    }

    .coment__enter {
        width: 100%;
        height: 25vh;
        margin-bottom: 2vh;
    }

    .coment__btn {
        width: 25%;
        height: 40%;
        border-radius: 10px;
    
        background: var(--bloc);
        border: none;
        box-shadow: 1px 1px 5px 1px #242424;
        cursor: pointer;
    
        font-size: 2.5vw;
        text-transform: uppercase;
        font-weight: 700;
    
    }

    .record__btn {
        height: 70%;
        font-size: 2.5vw;
    }
    
    .client__update {
        width: 100%;
        height: 30vh;
    }

}






















