.reg__flex {
    display: flex;
    
}

.reg__box {
    width: 45%;
    height: 88vh;
    margin: 2vh auto;
    background: var(--box);

    padding: 5.5vh 4% 0;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    
    border-radius: 15px;
    box-shadow: 2px 2px 8px 1px #111;
}

.input {
    width: 100%;
    height: 5vh;
    padding: 0 0 0 15px;
    outline: none;

    border-radius: 10px;
    border: .5px var(--text) solid;
}

.reg__text {
    text-transform: uppercase;
    font-weight: 600;
    margin: 1vh 4%;
}

.btn {
    width: 70%;
    height: 5vh;
    margin: 3vh auto 0;
    background: var(--bloc);

    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 1px #111;
}

@media only screen and (max-width: 767px) {
    .reg__flex {
        flex-direction: column;
    }

    .reg__box {
        width: 93%;
        height: 65vh;
    }
}

